---
title: Home
layout: home
---


<p>The online proceedings and the abstracts of highlight talks are available through the <a href="accepted.html">Talks and Papers</a> page.

<h2>Colocated Events</h2>

<ul>
  <li>An <a href="http://mlss2014.hiit.fi">MLSS Summer School</a> will
    be held after the conference (April 26th-May 4th). April 25 will
    be an AISTATS/MLSS joint tutorial + MLSS poster session day.
</ul>

{% if site.conference.chairs %}
{% for chair in site.conference.chairs %}
{% include listchairs.html %}
{% endfor %}
{% endif %}


